.P-home
    display: flex
    flex-direction: column
    height: 100%
    .settings-con
        display: flex
        padding: 10px
        gap: 10px
        background: #bae0ff
        .settings
            display: flex
            flex-direction: column
            gap: 6px
            flex: 1
            .item
                display: flex
                gap: 8px
                background: #ffffff
                border-radius: 6px
            .item-slider
              display: flex
              gap: 10px
              .slider-con
                flex: 1
            .path
                display: inline-block
                height: 32px
                line-height: 32px
        .opt-button
            width: 120px
            height: 100%
    .table-con
        flex: 1
        overflow-y: auto
        padding-bottom: 70px
