.M-appAboutModal
    .about-con
        display: flex
        padding: 30px
        gap: 80px
    .logo-con
        width: 190px
        text-align: center
        .error
            color: red
        .success
            color: green
    .core-con
        display: flex
        flex-direction: column
        gap: 16px
        p
            display: flex
        img
            margin-right: 6px
