.M-header
    position: relative
    margin-bottom: 2px
    border-radius: 0
    overflow hidden
    .ant-card-body
        padding: 8px
        height: 52px
        line-height: 36px
    .header-wrapper
        display: flex
        min-width: 520px
    .logo-con
        display: flex
        img
            height: 36px
        .logo-text
            margin-left: 6px
            font-size: 18px
            font-weight: bold
    .header-con
        display: flex
        flex: 1
        justify-content: flex-end
        gap: 20px
        .user-menu
            cursor pointer
            .arrow
                margin-left: 10px
